*.sym
*.smb
*.rsc
*.dll
*.x64
*.exe
*.code
t[0-9]
build/*/*
!build/boot0/*.dll
!build/boot0/*.exe
backup/*
test/*
ref
dualcharhardlystarted/*
utf8protonotworking/*
*.sublime-*
!build/boot0/*
