*.sym
*.smb
*.rsc
*.dll
*.x64
*.exe
*.code
t[0-9]
build/*/*
!build/boot0/*.dll
!build/boot0/*.exe
backup/*
test/*
ref
oc2/misc
oc2/AP
oc2/Wirth
oc2/asmtesting/*.fas
oc2/asmtesting/*.lst
dualcharhardlystarted/*
utf8protonotworking/*
*.sublime-*
!build/boot0/*
